
    

    <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control", placeholder: "name" %>
      
    </div>

    <div class="form-group">
        <%= f.label :cell %><br>
        <%= f.text_field :cell, class: "form-control", placeholder: "Cel" %>
      
    </div>


    <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: "form-control", placeholder: "email" %>
    </div>


