#Note - pretty sure there is no link to this file anywhere

<div class="jumbotron center">
<h1>Welcome to my app</h1>


<p>
	<%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg btn-block"%>
	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg btn-block"%>
</p>



<%= form_tag pins_path, method: "get" do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag("Search") %>
<% end %>



</div>